
CountingOnNoMorePink/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
CountingOnNoMorePink/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
CountingOnNoMorePink/Logs/shadercompiler-UnityShaderCompiler.exe0.log
CountingOnNoMorePink/UserSettings/EditorUserSettings.asset
CountingOnNoMorePink/UserSettings/Layouts/default-2021.dwlt
